<mat-card class="example-card">
  <mat-card-subtitle>Developed By</mat-card-subtitle>
  <mat-card-title>Amanjot Singh</mat-card-title>
  <mat-card-content>
    <p>Computer branch</p>
    <p>Roll No -78</p>
    <p>PRN -1914110013</p>
    <p>Semester -5</p>
<p>Division-2</p>

  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <mat-icon>perm_phone_msg</mat-icon>
    <p>9622383285</p>

  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
